<<<<<<< HEAD
body {
      min-height: 100vh;
      display: flex;
    }
    .sidebar {
      min-width: 220px;
      max-width: 220px;
      background-color: #343a40;
      color: #fff;
    }
    .sidebar a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
    }
    .sidebar a:hover {
      background-color: #495057;
    }
    .content {
      flex-grow: 1;
      padding: 20px;
    }
    table img {
      max-width: 60px;
      border-radius: 5px;
=======
body {
      min-height: 100vh;
      display: flex;
    }
    .sidebar {
      min-width: 220px;
      max-width: 220px;
      background-color: #343a40;
      color: #fff;
    }
    .sidebar a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
    }
    .sidebar a:hover {
      background-color: #495057;
    }
    .content {
      flex-grow: 1;
      padding: 20px;
    }
    table img {
      max-width: 60px;
      border-radius: 5px;
>>>>>>> eea37e17bd72eca5cfe2de38e8bea9e7e1bd364d
    }